
# phpstorm project files
.idea/*

# netbeans project files
nbproject

# windows thumbnail cache
Thumbs.db

# composer vendor dir
*.zip

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

uploads/


# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
# /wp-admin/
# /wp-content/index.php
# /wp-content/languages
# /wp-content/plugins/index.php
# /wp-content/themes/index.php
# /wp-includes/
# /index.php
/license.txt
/readme.html

/xmlrpc.php

# Configuration
wp-config.php


# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes